<app-header (onClose)="_matDialogRef.close();">
    <div *ngIf="_core.user" style="display: flex; align-items: center;">
        <img src="{{_core.user.thumbnailSrc}}" style="display: block; width: 40px; height: 40px; border-radius: 50%; margin: 0 7px 0 10px;">
        <div>
            <div style="font-size: 12px; margin-bottom: 5px;">내정보</div>
            <div style="font-size: 16px;">{{_core.user.nickname}}</div>
        </div>
    </div>
</app-header>

<div class="tabs">
    <div class="item" (click)="tabType = 'bookmark'" [class.active]="tabType === 'bookmark'">내 찜목록</div>
    <div class="item" (click)="tabType = 'comment'" [class.active]="tabType === 'comment'">내 코멘트</div>
    <div class="item" (click)="tabType = 'setting'" [class.active]="tabType === 'setting'">설정</div>
</div>

<app-user-bookmark-history *ngIf="tabType === 'bookmark'"></app-user-bookmark-history>
<app-user-comment-history *ngIf="tabType === 'comment'"></app-user-comment-history>

<div *ngIf="tabType === 'setting'" style="padding: 20px;" (click)="_core.signOut();">
    <button class="btn" style="width: 100%; height: 45px; background-color: rgb(235, 45, 45); color: #fff;" mat-ripple>로그아웃</button>
</div>