*[class^="miniple-"] {
    box-sizing: border-box;
}

.miniple-panel {
    font-size: 14px;
    margin-bottom: 20px;
}
.miniple-panel > .miniple-card{
    background-color: #fff;
}

.miniple-panel .miniple-notice-wrap {
    margin-bottom: 10px;
    text-align: center;
    background-color: rgb(255, 255, 211);
    color: rgb(122, 122, 19);
    padding: 10px;
    white-space: pre-wrap;
}

.miniple-panel .miniple-title-wrap {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
}
.miniple-panel .miniple-title-wrap > div[data-type="comment-count"] {
    font-size: 15px;
    font-weight: bold;
    margin-left: 15px;
}

.miniple-panel .miniple-vr {
    height: 20px;
    flex: 0 0 1px;
    background-color: #e5e5e5;
    margin: 0 15px;
}

.miniple-panel .miniple-panel-item .miniple-show-comment-toggle {
    background-color: #e5e5e5;
    color: #888;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    outline: 0;
    border: 1px solid transparent;
    transition: background-color .25s, color .25s, border-color .25s;
}

.miniple-panel .miniple-panel-item .miniple-show-comment-toggle:hover {
}

.miniple-panel .miniple-panel-item .miniple-show-comment-toggle.miniple-active {
    background-color: rgb(6, 228, 177);
    color: #000;
}
.miniple-panel .miniple-panel-item .miniple-show-comment-toggle::before {
    content: '구름꺼짐';
}
.miniple-panel .miniple-panel-item .miniple-show-comment-toggle.miniple-active::before {
    content: '구름켜짐';
}

.miniple-panel .miniple-panel-comment {
    position: relative;
    z-index: 1;
    height: 200px;
    overflow: auto;
}

.miniple-panel .miniple-panel-comment.miniple-active {
    /* overflow: visible; */
    /* box-shadow: none; */
}

.miniple-panel .miniple-panel-comment.miniple-active
.miniple-panel-comment-container {
}

.miniple-panel .miniple-panel-comment.miniple-active .miniple-panel-comment-frame {
    /* overflow: auto;
    pointer-events: initial; */
}

.miniple-panel .miniple-panel-comment-close {
    height: 30px;
    line-height: 30px;
    color: #fff;
    background-color: rgb(253, 255, 217);
    margin-top: -1px;
    color : #000;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-size: 13px;
    border-top: 1px solid #e5e5e5;
}

.miniple-panel .miniple-panel-comment .miniple-panel-comment-frame {
    height: 100%;
    overflow: hidden;
    /* pointer-events: none; */
    color: #000;
}

.miniple-panel .miniple-panel-comment .miniple-panel-comment-span,
.miniple-panel .miniple-panel-comment .miniple-panel-comment-item {
    display: flex;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #000;
    padding-left: 10px;
    border-bottom: 1px solid #e5e5e5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    user-select: none;
    transition: color .25s;
}
.miniple-panel .miniple-panel-comment .miniple-panel-comment-close::before{
    content: '닫기';
}
.miniple-panel .miniple-panel-comment .miniple-panel-comment-item > .miniple-create-time {
    flex: 0 0 50px;
    text-align: center;
}

.miniple-panel .miniple-panel-comment .miniple-panel-comment-item > .miniple-time {
    flex: 0 0 50px;
    text-align: center;
}
.miniple-panel .miniple-panel-comment .miniple-panel-comment-item > .miniple-text {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 5px;
}

.miniple-panel .miniple-panel-comment .miniple-panel-comment-item:hover {
    color: rgb(15, 153, 121);
}


/* 비디오 */
.miniple-sidebar {
    margin-bottom: 10px;
    font-size: 14px;
}
.miniple-videos-wrap {
    min-height: 350px;
}
.miniple-videos-wrap .miniple-video {
    display: flex;
    margin-bottom: 5px;
    font-size: 12px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 1px solid #eee;
}
.miniple-videos-wrap .miniple-video:hover {
    color: rgb(27, 153, 126);
}
.miniple-videos-wrap .miniple-video .miniple-thumbnail {
    flex: 0 0 80px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000;
    align-self: center;
}

.miniple-videos-wrap .miniple-video .miniple-content {
    flex: 1;
    padding: 3px 6px;
    overflow: hidden;
}
.miniple-videos-wrap .miniple-video .miniple-title {
    width: 100%;
}
.miniple-videos-wrap .miniple-video .miniple-sub {
    display: flex;
    color: #888;
    font-size: 12px;
    align-items: center;
}

.miniple-videos-wrap .miniple-video .miniple-comment {
    display: block;
    width: 100px;
    height: 16px;
    padding: 1px 5px;
    border-radius: 10px;
    background-color: #eee;
    color: #666;
    margin-right: 5px;
}

.miniple-videos-wrap .miniple-video .miniple-comment marquee {
    height: 100%;
}

.miniple-videos-tabs {
    display: flex;
    background-color: #fff;
    font-size: 14px;
    justify-content: space-between;
}

.miniple-videos-tabs .miniple-videos-tab {
    flex: 0 0 48%;
    padding: 7px;
    text-align: center;
    color: #888;
    user-select: none;
    cursor: pointer;
}

.miniple-videos-tabs .miniple-videos-tab.miniple-active {
    position: relative;
    background-color: rgb(6, 228, 177);
    color: #000;
}

.miniple-videos-tabs .miniple-videos-tab.miniple-active::before {
    background-image: url(https://i.imgur.com/QXyM3kM.png);
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background-size: 100% 100%;
    vertical-align: middle;
}

/* 페이지네이션 */
.miniple-page-nation {
    display: flex;
    margin: 10px 0;
}
.miniple-page-nation > .miniple-page-nation-item {
    flex: 0 0 32px;
    line-height: 30px;
    border: 1px solid #ddd;
    margin-right: 5px;
    color: #aaa;
    background-color: #fff;
    text-align: center;
    user-select: none;
    cursor: pointer;
    font-size: 12px;
}

.miniple-page-nation > .miniple-page-nation-item.miniple-active {
    background-color: rgb(6, 228, 177);
    color: #000;
    border: 1px solid rgb(30, 116, 97);
}


.miniple-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.miniple-input,
.miniple-input-virtual {
    font-size: 16px;
    font-family: 맑은고딕;
}
.miniple-input-virtual {
    pointer-events: none;
    position: absolute;
    top: -200px;
    left: -200px;
    opacity: 0;
}
.miniple-input {
    display: inline-block;
    position: absolute;
    z-index: 50;
    display: none;
    width: 75px;
    background: rgba(84, 60, 0, .5);
    border: 1px solid rgb(255, 183, 0);
    color: #fff;
    padding: 5px 2px;
    outline: 0;
    border-radius: 3px; 
}

.miniple-input::placeholder {
    color: rgb(238, 220, 174);
}


.miniple-login-wrap {
    display: flex;
    padding: 15px;
    background-color:rgb(6, 228, 177);
    margin-bottom: 10px;
}

.miniple-login-wrap > .miniple-side {
    flex: 0 0 80px;
}


.miniple-login-wrap > .miniple-main {
    flex: 1;
}


.miniple-card {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}