<div class="page-nation">
    <div class="prev" *ngIf="pageNationArray[0] > 0" (click)="start = max(start - limit * 10, 0); change.emit(start);"><
    </div>
    <div *ngFor="let i of pageNationArray"
         [class.active]="i === pageNationNow"
         (click)="start = i * limit; change.emit(start);">
         <i class="fas fa-sync" *ngIf="i === pageNationNow"></i>
         <span *ngIf="i !== pageNationNow">{{i + 1}}</span>
    </div>
    <div class="next" *ngIf="pageNationArray[pageNationArray.length - 1] < pageNationLast"
         (click)="start = min(start + limit * 10, pageNationLast * limit); change.emit(start);">>
    </div>
</div>
