<app-user-layout [userId]="userId">
    <div class="tabs">
        <mat-radio-group [(ngModel)]="tabType">
            <mat-radio-button [value]="'1'" style="margin-right: 20px;">업로드한 영상</mat-radio-button>
            <mat-radio-button [value]="'2'" style="margin-right: 20px;">좋아요 표시한 영상</mat-radio-button>
            <mat-radio-button [value]="'3'">작성한 구름</mat-radio-button>
        </mat-radio-group>
    </div>

    <ng-container *ngIf="tabType === '1'">
        <app-user-upload-videos [userId]="userId"></app-user-upload-videos>
    </ng-container>
    <ng-container *ngIf="tabType === '2'">
        <app-user-like-videos [userId]="userId"></app-user-like-videos>
    </ng-container>
    <ng-container *ngIf="tabType === '3'">
        <app-user-comments [userId]="userId"></app-user-comments>
    </ng-container>
</app-user-layout>