.tabs {
    margin: 20px 0;
}

@import '../../../../../../stylesheet/responsive';
@include responsive(not-desktop) {
    mat-radio-button {
        width: 100%; 
        margin: 0 0 10px 0 !important;
    }
}