<div class="line head">
    <div class="id">아이디</div>
    <div class="title text-ellipsis">글제목</div>
    <div class="views text-ellipsis">조회수</div>
    <div class="time text-ellipsis">작성일</div>
    <div class="writer text-ellipsis"></div>
</div>
<a class="line body" *ngFor="let item of notices; trackBy: trackById;" mat-ripple [routerLink]="['/board/' + category + '/detail/' + item.id]"
    [routerLinkActive]="['active']">
    <div class="id">
        <div style="display: inline-block; background-color: blueviolet; color: #fff; padding: 3px 10px;">공지</div>
    </div>
    <div class="title text-ellipsis" style="color: blueviolet; font-weight: bold;">
        <span>{{item.title}}</span>
    </div>
    <div class="views text-ellipsis">{{item.views | number : '.0'}}</div>
    <div class="time text-ellipsis">{{item.createTime | timeAgo}}</div>
    <div class="writer text-ellipsis">
        <ng-container *ngIf="item.user">
            <img [src]="item.user.thumbnailSrc">
            <span>{{item.user.nickname}}</span>
        </ng-container>
    </div>
</a>
<a class="line body" *ngFor="let item of list; trackBy: trackById;" mat-ripple [routerLink]="['/board/' + category + '/detail/' + item.id]"
    [routerLinkActive]="['active']">
    <div class="id">{{item.id}}</div>
    <div class="img" *ngIf="item.imageSrcs">
        <img [src]="item.$imageSrcs[0]">
    </div>
    <div class="title text-ellipsis">
        <span style="vertical-align: middle;">{{item.title}}</span>
        <span *ngIf="item.commentCount" style="color: rgb(219, 88, 0); margin-left: 5px; vertical-align: middle;">[{{item.commentCount}}]</span>
    </div>
    <div class="views text-ellipsis">{{item.views | number : '.0'}}</div>
    <div class="time text-ellipsis">{{item.createTime | timeAgo}}</div>
    <div class="writer text-ellipsis">
        <ng-container *ngIf="item.user">
            <img [src]="item.user.thumbnailSrc">
            <span>{{item.user.nickname}}</span>
        </ng-container>
    </div>
</a>
<div class="hr"></div>
<app-page-nation [start]="start" [limit]="limit" [allCount]="allCount" (change)="start = $event; getList();"></app-page-nation>