.line {
    display: flex;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid #e5e5e5;
    padding: 13px 0;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    user-select: none;
    &:visited {
        color: #999;
    }
    &.active {
        >.title{
            color: blue;
        }
    }
    > .id {
        flex: 0 0 80px;
        text-align: center;
    }
    >.img{
        overflow: hidden;
        border-radius: 3px;
        margin-right: 7px;
        height: 40px;
        img {
            display: block;
            width: 75px;
        }
    }
    >.title{
        flex: 1;
    }
    >.views {
        flex: 0 0 60px;
        text-align: center;
    }
    > .time {
        flex: 0 0 90px;
        text-align: center;
    }
    > .writer {
        flex: 0 0 150px;
        img {
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 5px;
        }
    }

    &.head{
        font-weight: bold;
        background: linear-gradient(180deg, #eee, #fff);
        border: 0;
        cursor: initial;
    }
}

.hr {
    margin-top: 10px;
}


@import '../../../../../../stylesheet/responsive';
@include responsive(not-desktop) {
    
}

.line {
    flex-wrap: wrap;
    border-top: 1px solid #ddd;
    border-bottom: 0;
    &.head {
        display: none;
    }
    >.id {
        display: none;
    }
    >.img{
        display: none;
    }

    >*{
        display: none;
    }

    >.title {
        display: block;
        flex: 0 0 100%;
        padding-left: 10px;
        order: 1;
        font-weight: bold;
        margin-bottom: 5px;
    }
    > .writer {
        padding-left: 10px;
        display: block;
        order: 3;
        flex: initial;
    }
    >.views {
        display: block;
        order: 3;
        flex: initial;
        margin-left: 10px;
        &::before {
            content: '조회 ';
        }
    }
    >.time {
        display: block;
        order: 4;
        flex: initial;
        margin-left: 10px;
        color: #888;
    }
}