.layout {
    background-color: #ddd; width: 100%; min-height: 100%; padding: 20px 0;
    animation: show-layout .5s ease-out;
    overflow-y: visible;
    overflow-x: auto;
}
@keyframes show-layout {
    0%{opacity: 0;}
}
.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    display: flex;
    background-color: #fff;
    align-items: center;
    .title {
        flex: 1;
        font-size: 24px;
        padding: 15px;
        font-weight: bold;
    }
    .btn-wrap {
        padding-right: 15px;
        button {
            border-radius: 0;
            font-size: 20px;
        }
    }
}


.content {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

@import '../../../../../../stylesheet/responsive';
@include responsive(not-desktop) {
    .header {
        flex-wrap : wrap;
        padding: 10px;
        text-align: center;
        justify-content: center;
        .title {
            flex: 0 0 100%;
            padding: 0;
            margin-bottom: 10px;
        }
    }
    .content {
        padding: 0;
    }
}