.video {
  position: relative;
  background-color: #000;
  overflow: hidden;
  .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .comment-position-layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: transparent;
    white-space: nowrap;
    color: #fff;
    padding: 0;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: -5px;
        left: -5px;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        background-color: rgba(0, 102, 255, .8);
        z-index: -1;
        box-shadow: 0 0 5px rgba(0,0,0,.5);
    }
  }
  .video-layer {
    z-index: 1;
    > .wrapper {
      transform-origin: 0 0;
    }
  }
  .comment-layer {
    z-index: 9;
    pointer-events: none;
  }
}

.comment-wrap {
  display: flex;

  .input {
    padding: 0;
    padding-left: 10px;
    width: 100%;
  }
}
