.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    padding: 10px;
    // background: linear-gradient(180deg, #b5b5b5, #737373);
    background-color: #dadadc;

    > .card {
        border-radius: 5px;
        overflow: hidden;
    }

    >.left {
        display: none;
        flex: 0 0 340px;
        background-color: #fff;
        margin-right: 10px;
    }

    > .main {
        flex: 1;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        >.video-wrap {
            position: relative;
            flex: 0 0 100%;
            overflow: hidden;
            background-color: #000;
            > .video {
                transform-origin: 0% 0%;
                margin: 0 auto;
            }
            >.art-wrap,
            >.input-wrap,
            >.canvas{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            } 
            >.art-wrap{
                display: none;
                z-index: 3;
                cursor: pointer;
                background-color: rgba(255,255,255,.25);
                box-shadow: 0 0 0 5px red inset;
                &.show {
                    display: block;
                }
            }
            >.canvas{
                z-index: 1;
                pointer-events: none;
            }
            >.input-wrap {
                display: none;
                animation: show-input-wrap 1s;
                z-index: 3;
                overflow: hidden;
                &.show {
                    display: block;
                }
                >.area{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    cursor: text;
                }
                >.input{
                    position: absolute;
                    z-index: 2;
                    background-color: rgba(0, 89, 255, 0.8);
                    color: #fff;
                    border: 0;
                    outline: 0;
                    height: 1em;
                    width: 2em;
                    padding: 0;
                    opacity: 0;
                    visibility: hidden;
                    font-family: '맑은고딕';
                    transition: all .1s ease-out;
                }
                >.input-virtual {
                    display: inline-block;
                    opacity: 0;
                    width: auto;
                }
            }
            >.alert-wrap {
                position: absolute;
                top: 0;
                right: 0;
                width: 260px;
                height: 0;
                z-index: 2;
                padding: 10px;
                > .alert {
                    border-radius: 5px;
                    background-color: rgba(255, 255, 255, 0.85);
                    padding: 7px;
                    width: 100%;
                    white-space: pre-wrap;
                    color: #333;
                    font-size: 12px;
                    margin-bottom: 10px;
                    animation: show-alert 3s;
                    opacity: 0;
                    text-align: center;
                    &[data-theme="green"] {
                        background-color: rgba(74, 235, 0, 0.85);
                        color: #000;
                    }
                    &[data-theme="red"] {
                        background-color: rgba(255, 0, 0, 0.85);
                        color: #000;
                    }
                }
            }
        }

        > .art-panel {
            flex: 0 0 100%;
            width: 100%;
            max-height: 0;
            overflow: auto;
            transition: all .2s ease-out;
            background-color: #1f1f1f;
            text-align: right;
            &.show {
                max-height: 100px;
            }
            >.wrap {
                min-width: 580px;
                display: flex;
                flex-wrap: wrap;
                padding: 10px;
                user-select: none;
                align-items: center;
                justify-content: center;
                > .char-wrap {
                    flex : 0 0 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 10px;
                    > .item {
                        background-color: #555;
                        border-radius: 5px;
                        width: 35px;
                        height: 35px;
                        line-height: 35px;
                        margin-right: 10px;
                        text-align: center;
                        overflow: hidden;
                        color: #fff;
                        font-size: 16px;
                        cursor: pointer;
                        user-select: none;
                        &.active {
                            color: #000;
                            background-color: gold;
                        }
                    }
                    >button{
                        line-height: initial;
                        background-color: #fff!important;
                        color: #000!important;
                    }
                    [disabled] {
                        background-color: #888!important;
                        color: #ccc!important;
                        cursor: not-allowed;
                    }
                }

            }
        }

        > .player-panel {
            flex: 0 0 100%;
            >.control-wrap {
                position: relative;
                z-index: 99;
                display: flex;
                > .btn {
                    position: relative;
                    width: 60px;
                    flex: 0 0 60px;
                    padding: 0;
                    background-color: #eee;
                    border:0 ;
                    outline: 0;
                    height: 50px;
                    line-height: 50px;
                    font-size: 20px;
                    text-align: center;
                    cursor: pointer;
                    user-select: none;
                    &.orange {
                        color: #fff;
                        background-color: #ffae00;
                        > .btn-wrap {
                            color: #fff !important;   
                        }
                    }
                    &.btn-float {
                        overflow: visible;
                        &:hover {
                            .box {
                                display: block;
                            }
                        }
                        .btn-wrap {
                            width: 100%;
                            height: 50px;
                            color: #000;
                        }
                        .box {
                            display: none;
                            position: absolute;
                            z-index: 99;
                            bottom: 100%;
                            left: 0;
                            width: 60px;
                            background-color: #ddd;
                            overflow: hidden;
                        }
                    }
                    &.btn-volume {
                        .btn-wrap {
                            line-height: 30px;
                            .volume-gage-vr {
                                position: relative;
                                width: 45px;
                                height: 15px;
                                overflow: hidden;
                                background-color: #ccc;
                                border-radius: 10px;
                                margin: 0 auto;
                                > .item {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background-color: #ffae00;
                                }
                            }
                        }
                        .volume-gage {
                            height: 100px;
                            > .item {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                background-color: #ffae00;
                                width: 100%;
                            }
                        }
                    }
                }
                > .gage-wrap {
                    position: relative;
                    flex: 1;
                    height: 50px;
                    background-color: #ddd;
                    overflow: hidden;
                    >.timeline {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                    }
                    >.gage {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 50px;
                        width: 0;
                        &.current {
                            background-color: #fbc847;
                        }
                        &.control {
                            z-index: 20;
                            width: 100%;
                            cursor: pointer;
                        }
                    }
                    >.label {
                        position: absolute;
                        top: 0;
                        left: 20px;
                        z-index: 10;
                        line-height: 50px;
                        font-size: 18px;
                        font-weight: 500;
                        color: #0000008f;
                        letter-spacing: 2px;
                        user-select: none;
                    }
                }

                
                > .tooltip {    
                    position: absolute;
                    z-index: 1;
                    width: 175px;
                    background-color: rgba(0, 0, 0, 0.8);
                    color: #fff;
                    border-radius: 5px;
                    top: 100%;
                    right: 0;
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                    font-size: 14px;
                    padding: 5px;
                    text-align: center;
                }
            }
        }

        >.info-wrap {
            flex: 0 0 100%;
            padding: 15px 0;
            .title {
                background-color: #f5f5f5;
                font-size: 20px;
                padding: 10px;
                .vr {
                    margin: 0 7px;
                }
                .sub {
                    font-size: 16px;
                    color: #3f51b5;
                }
            }
            .sub-title {
                color: #888;
                font-size: 14px;
                padding-left: 10px;
                padding-top: 5px;
            }
            .hr {
                border-bottom: 1px solid #ddd;
                margin: 5px 0;
            }
            .btn-wrap {
                display: flex;
                align-items: center;
                padding: 10px;
                > .vr {
                    margin: 0 5px;
                }
                > .btn-disabled{
                    animation: btn-disabled 1s infinite;
                }
                >.btn{
                    display: block;
                    height: 40px;
                    line-height: initial;
                    font-size: 20px;
                }
                >.btn-like {
                    .em {
                        display: inline-block;
                        margin-right: 5px;
                        padding: 0 5px;
                        background-color: #333;
                        color: #fff;
                        height: 24px;
                        line-height: 24px;
                        border-radius: 5px;
                        font-size: 14px;
                    }
                }
                > .btn-green {
                    color: #00c200;
                    background-color: #daffda;
                    .em {
                        background-color: #00c200;
                        color: #fff;
                    }
                }
            }
            .writer-wrap {
                border-top: 1px solid #ddd;
                padding: 10px 10px 0;
                .item {
                    min-width: 200px;
                    display: inline-block;
                    cursor: pointer;
                    padding: 10px 15px 10px 10px;
                    user-select: none;
                    border-radius: 3px;
                }
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 10px;
                }
                .name {
                    font-size: 17px;
                    font-weight: bold;
                }
                .sub{
                    font-size: 13px;
                    color: #888;
                }
            }
            .alert-wrap {
                padding: 10px;
                .alert-help {
                    display: block;
                    width: 100%;
                    max-width: 500px;
                    text-align: center;
                    margin: 0 auto;
                    background-color: #3f51b5;
                    color: #fff;
                    padding: 10px;
                    border-radius: 5px;
                }
            }
        }
    }
    
    >.side{
        position: relative;
        padding-top: 30px;
        flex: 0 0 340px;
        width: 340px;
        height: 100%;
        background-color: #fff;
        margin-left: 10px;
        >.tabs {
            position: absolute;
            top: 0;
            left:0;
            width: 100%;
            height: 30px;
            display: flex;
            user-select: none;
            >.tab {
                flex: 1;
                line-height: 30px;
                text-align: center;
                background-color: #e5e5e5;
                border: 0;
                outline: 0;
                cursor: pointer;
                &.active {
                    background-color: #3f51b5;
                    color: #fff;
                }
            }
        }
        > .comment-wrap {
            position: relative;
            overflow-y: auto;
            width: 100%;
            height: 100%;
            .page-nation-wrap {
                z-index: 9;
                position: sticky; padding: 5px 0; background: #f5f5f5; width: 100%; top:-0; left: 0;
            }
            .comment-line {
                padding: .25rem .5rem;
                word-wrap: break-word;
                color: #0e0e10;
                font-size: 13px;
                .label-red {
                    background-color: red;
                    padding: .1rem;
                }
                .type {
                    display: inline-block;
                    margin-right: .5rem;
                }
                .nickname {
                    display: inline-block;
                    margin-right: .5rem;
                    font-weight: 500;
                }
                .time {
                    display: inline-block;
                    color: #888;
                    margin-right: .5rem;
                    padding: .1rem;
                }
                &.yet {
                    background-color: rgb(245, 242, 255);
                }
            }

            .comment-box {
                display: flex;
                align-items: center;
                border-bottom: 1px solid #ddd;
                padding: 5px 0;
                > .left {
                    > img {
                        display: block;
                        width: 32px;
                        height: 32px;
                        cursor: pointer;
                    }
                    padding: 0 5px;
                }
                *{
                    vertical-align: baseline;
                }
                .nickname {
                    font-weight: 500;
                }
                .time,
                .create-time {
                    color: #888;
                    margin-left: 5px;
                    font-size: 0.9em;
                }
                .comment {
                    word-break: break-all;
                    white-space: normal;
                }
            }
        }
        .pointer {
            cursor: pointer;
            user-select: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.comment-input-wrap {
    padding: 15px 15px 0;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    .input-wrap {
        flex: 1;
        input {
            width: 100%;
            height: 35px;
            border: 1px solid #ddd;
            padding: 0 10px;
            border-radius: 5px;
            outline: 0;
            transition: all .2s ease-out;
            &:focus {
                border: 1px solid rgb(0, 102, 255);
            }
        }
    }
    .btn-wrap {
        margin-left: 10px;
    }
}

:host ::ng-deep #ytplayer {
    width: 100%;
    height: 100%;
}

.btn-youtube{
    background-color: rgb(255, 62, 62);
}

a {
    color: rgb(0, 87, 250);
    text-decoration: none;
}

@keyframes show-input-wrap {
    50% {
        // background-color: rgba(0, 255, 13, 0.1);
    }
}
@keyframes btn-disabled {
    50% {
        box-shadow: 0 0 0 5px rgba(0, 26, 255, 0.05);
    }
}
@keyframes show-alert {
    0% {
        opacity: 0;
        margin-left: -300px;
    }
    10% {
        opacity: 1;
        margin-left: 0;
    }
    80% {
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@import '../../../../../../stylesheet/responsive';
@include responsive(not-desktop) {
    .side .comment-input-wrap {
        padding: 0;
        .input-wrap {
            > div:last-child {
                width: calc(100% + 90px);
                margin-top: 0!important;
            }
        }
    }
    .main .comment-input-wrap {
        display: none;
    }
    .wrapper {
        flex-wrap: wrap;
        padding: 0;
        >.card{
            border-radius: 0;
        }
        >.left{
            display: none;
        }
        >.main {
            flex: 0 0 100%;
            height: 50%;
            > .video-wrap {
                flex: 0 0 100%;
            }
            >.player-panel {
                >.control-wrap {
                    flex-wrap: wrap;
                    justify-content: center;
                    background: #f5f5f5;
                }
                >.control-wrap > .tooltip {
                    width: 100%;
                    border-radius: 0;
                }
                >.control-wrap > .gage-wrap {
                    flex: 0 0 calc(100% - 200px);
                }
                >.control-wrap > .gage-wrap >.label{
                    font-size: 14px;
                    left: 10px;
                    letter-spacing: 1px;
                }
                >.control-wrap >.btn{
                }
                >.control-wrap >.btn-etc{
                    flex: 0 0 40px;
                    font-size: 18px;
                    &:last-child {
                        display: none;
                    }
                }
            }
            >.info-wrap {
                padding: 0;
                .title {
                font-size: 16px;
                padding: 10px;
                margin-bottom: 0;
            }
            .sub-title {
                padding: 10px;
            }
            .hr {
                margin:  0;
                height: 1px;
                padding: 0;
            }
                .btn-wrap {
                    flex-wrap: wrap;
                    max-width: 500px;
                    margin: 0 auto;
                    align-items: center;
                    justify-content: center;
                    a, button {
                        width: 100%;
                        margin: 0!important;
                        margin-bottom: 10px !important;
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    > .side {
        flex: 0 0 100%;
        height: 50%;
        margin: 0;
        padding-bottom: 60px;
        >.comment-wrap {
            overscroll-behavior: none;
            font-size: 12px;
            .comment-line {
            }
        }
    }
    }
    .comment-input-wrap{
        padding: 5px;
        input {
            height: 36px!important;
            border: 0!important;
            border-radius: 0!important;
            border-top: 1px solid #3f51b5!important;
            border-bottom: 1px solid #3f51b5!important;
            &:focus {
                background-color: rgb(255, 255, 233);
            }
        }
        .input-wrap {
            >div:last-child {
                border-radius: 0!important;
                width: calc(100% + 65px);
            }
        }
        .btn-wrap {
            margin:0;
            button {
                border-radius: 0;
            }
        }
    }
   .alert-wrap {
       display: none!important;
        width: 150px!important;
    }
}