<div class="tabs">
    <div (click)="tabType = 'create'" [class.active]="tabType === 'create'" class="item card">창작</div>
    <div (click)="tabType = 'youtube'" [class.active]="tabType === 'youtube'" class="item card">
        <i class="fab fa-youtube"></i> Youtube</div>
</div>
<div class="wrapper" *ngIf="tabType === 'create'">
    <div class="upload-wrap card">
        <div style="font-weight: bold;">파일선택</div>
        <input type="file" accept="video/mp4" value="파일업로드" (change)="handleFileInput($event.target.files)">
    </div>
    <mat-form-field>
        <input matInput placeholder="영상제목" [(ngModel)]="title">
    </mat-form-field>
    <mat-form-field>
        <textarea style="height: 400px;" matInput placeholder="영상설명" [(ngModel)]="description"></textarea>
    </mat-form-field>
    <div style="background: red; margin-bottom: 10px; color: #fff;">
        유튜브에 이미 올라온 영상은 위에 탭을 선택해서 유튜브전용 영상으로 올려주세요.
        <br/> 유튜브영상 불법다운로드하여 업로드시 경고없이 영상이 삭제될 수 있습니다.
    </div>
    <div style="color: red; margin-bottom: 10px; font-size: 20px;">
        1. 꼭 MP4 확장자로 업로드<br/>
        2. 24시간동안 2GB까지만 올릴 수 있음.<br/>
        3. 한번에 1GB까지만 올릴 수 있음.
    </div>
    <button mat-raised-button color="primary" (click)="upload();" [disabled]="isUploading">
        <i class="fas fa-upload"></i> 영상업로드</button>
</div>

<div class="wrapper" *ngIf="tabType === 'youtube'">
    <mat-form-field>
        <input matInput placeholder="영상제목 (미입력시 유튜브 제목으로 설정)" [(ngModel)]="titleForYoutube">
    </mat-form-field>
    <div style="color: red; margin-top: -10px; margin-bottom: 10px;">영상제목은 변경이 불가합니다! 신중하게 입력해주세요!</div>
    <mat-form-field>
        <input matInput placeholder="유튜브 영상아이디" [(ngModel)]="videoId">
    </mat-form-field>
    <div style="background: red; margin-bottom: 10px; color: #fff;">
        유튜브에 이미 올라온 영상은 위에 탭을 선택해서 유튜브전용 영상으로 올려주세요.
        <br/> 유튜브영상 불법다운로드하여 업로드시 경고없이 영상이 삭제될 수 있습니다.
    </div>
    <button mat-raised-button color="primary" (click)="uploadYoutube();" [disabled]="isUploading">
        <i class="fas fa-upload"></i> 영상업로드</button>
</div>