<div class="page-nation-wrap">
    <app-page-nation [start]="start" [limit]="limit" [allCount]="allCount" [pagePadding]="2" (change)="start = $event; getList();"></app-page-nation>
</div>
<div *ngIf="allCount === 0">좋아요 표시한 영상이 없습니다.</div>
<ng-container *ngFor="let item of list; trackBy: trackByItem;">
    <a *ngIf="item.video" class="line card" [href]="'/video/id/' + item.videoId">
        <div class="thumbnail">
            <div class="img thumbnail-responsive" [style]="item.video.ngStyle"></div>
        </div>
        <div class="content">
            <div class="title" matTooltip="{{item.video.title}}">
                {{ item.video.title }}
            </div>
            <div class="sub">
                <span style="background-color: #ddd; margin-left: 5px;">{{item.createTime | date : 'yyyy/MM/dd HH시 mm분'}}</span>
                <span>에 좋아요 표시함</span>
            </div>
        </div>
    </a>
    <a *ngIf="!item.video" class="line card" [href]="'/video/id/' + item.videoId">
        <div class="thumbnail"></div>
        <div class="content">
            <span style="background-color: #aaa;">삭제된영상입니다.</span>
        </div>
    </a>
</ng-container>