input, textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    width: 100%;
    margin-bottom: 20px;
}
textarea {
    min-height: 400px;
    font-family: 맑은고딕;
}
.label {
    color: #888;
    font-weight: bold;
    padding: 5px 0;
}
