<div class="label">제목</div>
<input placeholder="제목" [(ngModel)]="input.title">
<div class="label">내용</div>
<textarea placeholder="내용" [(ngModel)]="input.content"></textarea>

<div class="file-wrap" *ngFor="let item of fileArr; let i = index;">
    <div>파일업로드 {{ i + 1 }}</div>
    <input type="file"  accept="image/x-png,image/gif,image/jpeg" (change)="changeFile($event.target.files, 'img' + (i + 1));">
</div>

<button mat-raised-button color="primary" style="width: 100%; width: 350px; margin: 0 auto; font-size: 20px; display: block; padding: 10px;"
    [disabled]="disabled" (click)="onSubmit.emit(outputInput);">
    <i class="fas fa-pen"></i>
    글작성
</button>