<a class="video" [class.self]="video.isSelf" [class.hot]="video.score >= 1000" mat-ripple [target]="routerTarget" [routerLink]="['/video/id/' + video.id]"
    *ngIf="video">
    <div class="thumbnail thumbnail-responsive" [style]="video.ngStyle"></div>
    <div *ngIf="video.user" class="user-wrap">
        <img style="width: 18px; height: 18px; border-radius: 50%;" [src]="video.user.thumbnailSrc">
        <span>{{video.user.nickname}}</span>
    </div>
    <div class="sub">
        <div class="item" style="color: red; font-size: 16px;" *ngIf="video.origin === 'youtube'">
            <i class="fab fa-youtube"></i>
        </div>
        <div class="item" *ngIf="video.origin === 'googleDrive'">
            <span style="background: rgb(13, 211, 63); color: #fff; font-size: 12px; border-radius: 2px; padding: 1px 3px;">창작</span>
        </div>
        <div class="vr"></div>
        <div class="item" [class.gold]="video.score > 0">
            <span>
                <i class="fas fa-star"></i>
            </span>
            <span class="count">{{video.score | number : '.0'}}</span>
        </div>
        <div class="vr"></div>
        <div class="item" [class.blue]="video.views > 0">
            <span>
                <i class="far fa-eye"></i>
            </span>
            <span class="count">{{video.views}}</span>
        </div>
        <!-- <div class="vr"></div>
        <div class="item" [class.blue]="video.commentCount > 0">
            <span>
                <i class="fas fa-cloud"></i>
            </span>
            <span class="count">{{video.commentCount | number : '.0'}}</span>
        </div> -->
        <div class="vr"></div>
        <div class="item" [class.blue]="video.likeCount > 0">
            <span>
                <i class="far fa-thumbs-up"></i>
            </span>
            <span class="count">{{video.likeCount | number : '.0'}}</span>
        </div>
        <div style="flex: 1;"></div>
        <div class="item">
            {{video.createTime | timeAgo}}
        </div>
    </div>

    <!-- 
    <div class="box" [matTooltip]="video.recentCommentText" *ngIf="video.recentCommentText">
        <div class="text">
            <marquee>{{video.recentCommentText}}</marquee>
        </div>
        <div class="time">{{video.recentCommentCreateTime | timeAgo}}</div>
    </div>
    -->
    <div class="title" [matTooltip]="video.title">
        <span>{{video.title}}</span>
    </div>

    <div class="box2" *ngIf="video.recentComments">
        <marquee *ngFor="let item of video.recentComments; let i = index;">
            <span class="comment" [class.active]="i === video.recentComments.length - 1">
                <span class="text">{{item.text}}</span>
                <span class="time">{{item.createTime | timeAgo}}</span>
            </span>
        </marquee>
    </div>
</a>