<div class="layout" [class.fullscreen]="isFullscreen" #layoutDom>
    <div class="header">
        <ng-container *ngIf="!isFullscreen">
            <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
        </ng-container>
        <div class="player-wrap">
            <app-video-player [video]="video" #player></app-video-player>
        </div>
    </div>
    <div class="footer">
        <div class="wrapper">
            <ng-container *ngIf="isFullscreen">
                <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
            </ng-container>
            <div class="tabs">
                <div class="item" (click)="tabType = 'comment'" [class.active]="tabType === 'comment'" mat-ripple="mat-ripple">
                    <span>댓글</span>
                    <span *ngIf="video">&nbsp;{{ video.comments.length }}</span>
                </div>
                <!-- <div class="item" (click)="tabType = 'vote'" [class.active]="tabType === 'vote'" mat-ripple="mat-ripple" style="pointer-events: none; opacity: .5">추천영상 (개발중)</div> -->
                <div class="item item-more" style="flex: 0 0 80px;" mat-ripple="mat-ripple" [matMenuTriggerFor]="menu">
                    <div>더보기</div>
                    <mat-menu #menu="matMenu">
                        <button (click)="bookmark();" [disabled]="isBookmarking" mat-menu-item *ngIf="video && video.isBookmark === false">찜하기</button>
                        <button (click)="unBookmark();" [disabled]="isBookmarking" mat-menu-item *ngIf="video && video.isBookmark === true" style="color: red;">찜해제</button>
                        <button (click)="copyIframeSrc();" mat-menu-item>소스 코드 복사</button>
                    </mat-menu>
                </div>
                <div class="item item-fullscreen" *ngIf="!isFullscreen" style="flex: 0 0 80px;" mat-ripple="mat-ripple" (click)="fullscreen();">
                    전체화면
                </div>
                <div class="item item-un-fullscreen" *ngIf="isFullscreen" style="flex: 0 0 80px;" mat-ripple="mat-ripple" (click)="unFullscreen();">
                    닫기
                </div>
                <!-- <button class="item item-bookmark" style="display: none; flex: 0 0 80px;" (click)="bookmark();"   [disabled]="isBookmarking" mat-menu-item *ngIf="video && video.isBookmark === false">찜하기</button> -->
                <!-- <button class="item item-bookmark" [hidden]="!isFullscreen" (click)="unBookmark();" [disabled]="isBookmarking" mat-menu-item *ngIf="video && video.isBookmark === true" style="display: none; flex: 0 0 80px; color: red;">찜해제</button> -->
            </div>
            <ng-container *ngIf="video">
                <div class="content-wrap">
                    <div *ngIf="video.comments.length === 0" style="padding: 40px 0; font-size: 20px; text-align: center; color: #888;">
                        아직 코멘트가 없습니다.
                    </div>
                    <cdk-virtual-scroll-viewport itemSize="60" style="height: 100%;"  *ngIf="video.comments.length > 0" >
                        <app-video-comment [data]="item" (onPlayTime)="player && player.player && player.player.seekTo($event);" (onRemove)="onRemove($event);" *cdkVirtualFor="let item of video.comments; trackBy: trackByComment;">
                        </app-video-comment>
                    </cdk-virtual-scroll-viewport>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #headerTemplate>
    <app-header (onClose)="_core.closeVideoPopup();">
        <ng-container *ngIf="video">
            <div style="padding-left: 10px; font-size: 16px;" class="text-ellipsis">{{ video.title }}</div>
            <div style="color: #888; font-size: 12px; padding-left: 10px; padding-top: 3px;">
                <span style="display: inline-block; margin-right: 5px; padding: 3px 5px; background-color: rgb(31, 182, 31); color: #fff;" *ngIf="video.isBookmark === true">찜한영상</span>
                <span>조회
                    {{video.views}}회</span>
                <span style="display: inline-block; width: 10px; text-align: center;">•</span>
                <span>{{video.createTime | timeAgo }}</span>
            </div>
        </ng-container>
    </app-header>
</ng-template>

