<ng-container *ngIf="detail">
    <div class="title">{{detail.title}}</div>
    <div class="sub">
        <div>
            <div class="writer" *ngIf="detail.user" (click)="openUserPopup(detail.user.id)" mat-ripple>
                <img [src]="detail.user.thumbnailSrc">
                <span>{{ detail.user.nickname }}</span>
            </div>
        </div>
        <div style="flex: 1;"></div>
        <div style="margin-right: 10px;">작성 {{detail.createTime | date : 'yyyy/MM/dd HH:mm:ss' }}</div>
        <div>조회수 {{detail.views | number : '.0'}}회</div>
    </div>
    <div class="img-wrap">
        <img [src]="item" *ngFor="let item of detail.$imageSrcs">
    </div>
    <div class="content">{{ detail.content }}</div>
    <div *ngIf="detail.category === 'humor'">
        정치글은 확인 후 바로 삭제됩니다.
        <div style="color: red;">운영자는 그 어떠한 정치적 사상을 가지고 운영하지 않고 있음을 맹세합니다.</div>
    </div>
    <div style="border-radius: 15px; background-color: #f5f5f5; padding: 10px; text-align: right" *ngIf="_core.user && (_core.user.isAdmin || detail.userId === _core.user.id)">
        <button mat-flat-button color="accent" (click)="delete();">게시글 삭제</button>
    </div>
    <div class="comment">
        <app-board-comment [taskId]="detail.id" *ngIf="detail.category !== 'notice'"></app-board-comment>
    </div>
</ng-container>

<mat-spinner *ngIf="isGettingDetail"></mat-spinner>