.profile {
    margin: 20px 0;
    > .nickname {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
    }
}
.container {
    max-width: 780px;
    padding: 0 10px;
    margin-bottom: 30px;
}