<app-layout>
    <div style="font-size: 24px; text-align: center; margin: 20px 0; font-weight: bold;">총 회원수 : {{ allCount | number}}명</div>
    <div class="wrapper">
        <div class="item card" *ngFor="let item of list; trackBy: trackById;" (click)="openPopup(item.id)">
            <div class="img">
                <img [src]="item.thumbnailSrc">
            </div>
            <div class="content">
                <div class="nick" [style.color]="item.nicknameColor">
                    {{item.nickname}}
                </div>
                <div class="time">
                    {{item.createTime | date : 'yy-MM-dd HH:mm'}} 가입
                </div>
            </div>
        </div>
    </div>
    <app-page-nation [start]="start" [limit]="limit" (change)="start = $event; getList();" [allCount]="allCount"></app-page-nation>
</app-layout>