.writer {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    max-width: 100%;
    img {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 5px;
    }
}