.video {
    position: relative;
    display: block;
    background-color: #fff;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    text-align: left;
    
    &:hover {
        opacity: 1;
        .box2{ opacity: 1;}
    }
    .box2 {
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        opacity: .25;
        .comment {
            color: #fff;
            background-color: rgba(0, 0, 0, 0.6);
            font-size: 11px;
            padding: 0 5px 2px 5px ;
            margin-bottom: 5px;
            border-radius: 5px;
            &.active {
                > .time {
                    color: yellow;
                }
                > .text{
                    color: yellow;
                }
            }
            > .time {
                color: #ccc;
            }
            >.text{ 
                margin-right: 5px;
                color: #fff;
                font-size: 12px;
            }
        }
    }
    &,*{
        transition: all .2s ease-out;
    }
    >.thumbnail {
        height: 197px;
        background-color: #000;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: var(--bg-pc-image);
    }
    >.user-wrap {
        background-color: #f5f5f5;
        padding-top: 3px;
        padding-left: 3px;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        img {
            margin-right: 5px;
        }
    }
    >.sub {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 3px;
        background-color: #f5f5f5;

        >.vr{
            width: 5px;
        }
        >.item {
            font-size: 12px;
            color: #999;
            &.blue {
                color: #000;
            }
            &.gold {
                color: #000;
            }
            .count {
                margin-left: 2px;
            }
        }
    }
    >.title {
        padding: 10px;
        font-size: 16px;
    }
    &.hot {
        position: relative;
        &::before {
            content: '하뜨!';
            display: inline-block;
            position: absolute;
            top: -15px;
            left: -15px;
            width: 50px;
            height: 25px;
            line-height: 25px;
            background-color: red;
            color: #fff;
            text-align: center;
            font-weight: bold;
            animation: hot infinite 1s ease-out;
            border-radius: 5px;
            z-index: 1;
        }
    }
}
@keyframes hot {
    50%{
        top: -20px;
    }
}
.box {
    position: relative;
    display: flex;
    border-bottom: 1px solid #ddd;
    color: #000;
    font-size: 12px;
    padding: 3px;
    background-color: #2156a5;
    color: #fff;
    width: 95%;
    margin: 0 auto;
    border-radius: 3px;
    margin-top: 5px;
    text-shadow: 0 0 1px #000;
    &::before {
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        position: absolute;
        background: transparent;
        border: 10px solid #2156a5;
        bottom: 100%; 
        left: 28px;
        border-right-color: transparent;
        border-left-color: transparent;
        border-top-color: transparent;
    }
    >.text {
        
    color: yellow;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    }
    >.time {
        color: #eee;
    }
}
@import '../../../../../../stylesheet/responsive';
