<div class="header">
    <ng-container *ngIf="title">
        <div style="width: 70px;"></div>
        <div style="width: 1px; flex: 1; text-align: center; font-size: 16px;">
            {{title}}
        </div>
    </ng-container>
    <ng-container *ngIf="!title">
        <div style="width: 1px; flex: 1;">
            <ng-content></ng-content>
        </div>
    </ng-container>
    <button (click)="onClose.emit();" class="btn" style="width: 70px; height: 50px; font-size: 14px; color: #888;" mat-ripple="mat-ripple">
        닫기
    </button>
</div>
