<div class="comment-line" *ngIf="data" [class.active-reaction]="isActiveReaction">
    <span class="time" *ngIf="showCreateTime">{{ data.createTime | timeAgo }}</span>
    <span class="time pointer" (click)="seekTo.emit(data.time / 1000);">{{ toTimeForDisplay(data.time) }}</span>
    <!-- <span class="time pointer" (click)="seekTo.emit(data.time / 1000);" *ngIf="data.time > currentTime">{{ countDown(floor(data.time / 1000) * 1000 - currentTime) }}</span> -->
    <img [src]="data.thumbnailSrc" (click)="openUserDialog(data.userId)">

    <!-- 비회원 -->
    <span class="nickname pointer" [style.color]="data.nicknameColor" *ngIf="data.userId < 1">{{ data.nickname }}</span>
    <a class="nickname pointer" [style.color]="data.nicknameColor" (click)="openUserDialog(data.userId)" *ngIf="data.userId >= 1">{{ data.nickname }}</a>

    <span class="comment pointer"(click)="isActiveReaction = !isActiveReaction;" >{{ data.text }}</span>

    <div class="reaction-text-wrap" *ngIf="data.reactions">
        <span class="reaction" *ngIf="data.reactions.funny" [matTooltip]="'웃겨요'">🤣{{ data.reactions.funny}}</span>
        <span class="reaction" *ngIf="data.reactions.surprise" [matTooltip]="'놀랐어요'">😱{{ data.reactions.surprise}}</span>
        <span class="reaction" *ngIf="data.reactions.bad" [matTooltip]="'나빠요'">😡{{ data.reactions.bad}}</span>
        <span class="reaction" *ngIf="data.reactions.sad" [matTooltip]="'슬퍼요'">😭{{ data.reactions.sad}}</span>
    </div>

    <span class="btn-reaction pointer" mat-ripple (click)="isActiveReaction = !isActiveReaction;" *ngIf="_core.isLoggedIn && _core.user.id !== data.userId">
        <i class="fas fa-chevron-circle-up" *ngIf="isActiveReaction"></i>
        <i class="fas fa-chevron-circle-down" *ngIf="!isActiveReaction"></i>
    </span>

    <div class="reaction-wrap card" *ngIf="isActiveReaction" [class.disabled]="isReacting">
        <div class="item" mat-ripple (click)="react('funny');">
            <span class="icon">🤣</span>
            <span class="text">웃겨요</span>
        </div>

        <div class="item" mat-ripple (click)="react('surprise');">
            <span class="icon">😱</span>
            <span class="text">놀랐어요</span>
        </div>

        <div class="item" mat-ripple (click)="react('bad');">
            <span class="icon">😡</span>
            <span class="text">나빠요</span>
        </div>

        <div class="item" mat-ripple (click)="react('sad');">
            <span class="icon">😭</span>
            <span class="text">슬퍼요</span>
        </div>
    </div>
</div>