<div class="tabs">
    <div [routerLinkActive]="['active']" [routerLink]="['/board/free']" class="item">자유</div>
    <!-- <div [routerLinkActive]="['active']" [routerLink]="['/board/humor']" class="item">유머</div> -->
    <div [routerLinkActive]="['active']" [routerLink]="['/board/improve']" class="item">건의</div>
</div>
<div class="header card" style="padding: 5px 0;">
    <div class="title">
        <span *ngIf="category === 'free'">자유게시판</span>
        <!-- <span *ngIf="category === 'free'">애니게시판</span> -->
        <!-- <span *ngIf="category === 'humor'">유머게시판</span> -->
        <span *ngIf="category === 'improve'">건의게시판</span>
    </div>
    <div class="btn-wrap">
            <button color="white" style="border: 1px solid #ddd;padding: 0 15px; height: 40px; margin-right: 10px;"  [routerLink]="['/board/' + category + '/list']">목록</button>
        <button color="primary" style="background-color:  rgb(214, 109, 48); color: #fff; padding: 0 15px; height: 40px; "  [routerLink]="['/board/' + category + '/write']">글작성</button>
    </div>
</div>
<ng-content></ng-content>