<div class="btn-wrap">
    <button *ngFor="let item of tags;" [class.active]="activeTagId === item.id" (click)="setTagId(item.id);" class="btn-tab">
        {{item.name}}
    </button>
</div>
<div style="padding: 7px;">
    <div class="wrap" style="display: flex; flex-wrap: wrap;">
        <div class="item" *ngFor="let item of blankArray; let i = index; trackBy: trackById;" style="width: 50%; height: 125px;">
            <app-video-list-item-sm [data]="list[i]" (onClick)="onClick.emit($event);">
            </app-video-list-item-sm>
        </div>
    </div>
    <button mat-ripple style="display: block;
    width: 80%;
    height: 45px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    margin: 0 auto;
    margin-top: 10px;" class="btn" (click)="more();" *ngIf="list && blankArray && blankArray.length < list.length">
        더보기
    </button>
</div>