.btn-wrap {
    padding: 7px;
    white-space: nowrap;
    overflow: auto;
    > .btn-tab {
        display: inline-block;
        padding: 0 15px; 
        margin-right: 7px;
        height: 40px;
        border-radius: 5px;
        border: 2px solid #e5e5e5;
        &:last-child{
            margin-right: 0;
        }
        &.active {
            background-color: rgb(105, 233, 220);
            border-color: #19b3a2;
        }
    }
}

.wrap > .item:nth-child(2n-1) {padding-right: 2px;}
.wrap > .item:nth-child(2n) {padding-left: 2px;}
.wrap > .item {margin-bottom: 5px;}